body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #063647;
}

nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
